---
import '../styles/global.css';
import Navigation from '../components/navigation.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Week 5</title>
	</head>
	
	
	
	<body>
		
		<Navigation />
	    <h1>My Blog</h1>
    
	
		<p>Check out some posts to help you live a better life!</p>
   
	


	<ul>
      <li><a href="/posts/post-1/">Finding Balance in a Busy World</a></li>
      <li><a href="/posts/post-2/">Building Confidence Through New Challenges</a></li>
      <li><a href="/posts/post-3/">The Power of Community Support</a></li>
    </ul>



	</body>
</html>
