---
import '../styles/global.css';
import Navigation from '../components/navigation.astro';
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Week 5</title>
	</head>
	<body>
		<Navigation />

		<h1>Welcome to Week 5 of Web Frameworks</h1>
		<p style="color:green;"> This paragraph is green </p>
		<p style="color:red;">This paragraph is red</p>
		<h2>This is a subheading</h2>
		<ul>
			<li>My favourite colour is...</li>
			<li>My favourite movie is...</li>
			<li>A website I visit often is <a href="https://theverge.com">The Verge</a></li>
		</ul>

		<h2>Here is a picture I found on the internet:</h2>
		<img src="https://images.squarespace-cdn.com/content/v1/50f2c70ee4b0d70ab5fe596e/1499682318088-3OHFGI8SU89RPF2BYMEZ/Sunset-Over-Irish-Sea-023.jpg" width="250px"> 
	</body>
</html>
